body {
    /* padding: 0;
    margin: 0; */
    font-family: "Open Sans", sans-serif;
    /* font-size: 1.525rem; */
    font-weight: 400;
    color: #333;
    line-height: 1.6;
    background-color: #ebebeb;
}

.c-formdetail-accordion-scrollable {
    max-height: 300px;
    overflow: auto;
}
